{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{%static 'css/plantas.css'%}"> 
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <title>Helecho | Folilapp</title>
    </head>
    <body>
        <header>
               <img src="{% static 'images/logo2.png' %}" alt="logo" id="logo2"> <!--cambiar el src a {%static 'img/logo2.png'%}-->
               <div id="container-header">
                    <a href="{% url 'dashboard' %}">INICIO</a>
                    <a href="{% url 'dashboard' %}" style="font-weight:700">GENERAL</a>
               </div>
        </header>
        </div>
        <div class="container">
            <div class="title" style="transform:translateX(-15vh);">HELECHO</div>
            <img src="{%static 'images/helecho.png'%}" alt="Imagen de un helecho" style="height:500px;width:auto;margin-left:8vw;">
            <div class="quick_description">Planta de porte mediano, con hojas largas de color verde claro, ideales para ambientes de interior debido a su sistema vascular que transporta agua y nutrientes por toda la planta. Tienen una gran capacidad de absorber monóxido de carbono, lo que las hace excelentes para interiores. Algunas variantes también pueden prosperar en exteriores.</div>
        </div>
        <hr color="#1c4f38">
        <p>Helechos - Ferns (Tracheophyta)</p>

        <div class="descriptions">
            <div class="container_description">
                <h2>• Altura y ancho</h2>
                <div class="description">
                    En promedio, los helechos no crecen más allá de los 2 metros de altura. Los helechos de macetero chico pueden medir tan solo 30 centímetros.
                </div>
            </div>

            <div class="container_description" style="margin-top:30vh;">
                <h2>• Precauciones</h2>
                <div class="description">
                    Es tóxica para animales, ya que puede causar deficiencia de tiamina, cuyos efectos son visibles 2-3 meses después. <br><br> Para los humanos, <b>puede ser alergénica</b> o causar intoxicación si se ingieren las hojas o raíces.
                </div> 
            </div>

            <div class="container_description">
                <h2>• Problemas comunes</h2>
                <div class="description">
                    Hojas secas: Los helechos prefieren la sombra y la luz indirecta, colóquelos cerca de una ventana. <br><br>Deshidratación o exceso de agua: El riego debe variar según la estación: en épocas de calor, regar cada 2 días, y en épocas de frío, de 3 a 4 veces por semana. Los helechos de interior requieren humedad constante. <br><br>
                </div>
            </div>

            <div class="container_description" style="margin-top:15vh;">
                <h2>• Cuidados</h2>
                <div class="description">
                    Fertilizar una vez pasados 6 meses desde la germinación.
                </div> 
            </div>
        </div>
        <br><br>
    </body>