{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro | Folilapp</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="{% static 'css/msg.css' %}">
</head>
<body>
    {% include 'flor/msg.html' %}
    <div class="sphere sphere-1"></div>
    <div class="sphere sphere-2"></div>
    <div class="sphere sphere-3"></div>
    <div class="main-container">
        <header class="header">
            <a href="/" class="logo-link">
                <h1>FOLILA</h1>
                <img src="{% static 'images/logo.png' %}" alt="FOLILA Logo" class="logo">
            </a>
        </header>       
        <div class="main">
            <div class="plant-container">
                <img src="{% static 'images/plantam.png' %}" alt="Planta" class="plant">
            </div>
            <div class="form-container">
                <h2>CREAR CUENTA</h2>
                <form action="/register/" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Registrarse</button>
                </form>
            </div>            
        </div>
        <footer>
            <p class="footer-text">"EMPIEZA A IDENTIFICAR PLANTAS AHORA Y MEJORA TU ENTORNO."</p>
        </footer>        
    </div>
</body>
</html>
