body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #2b7a40, #409e6e, #5bcda2, #61d8b0)
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.header .logo img {
    height: 100px;
    margin-right: 40px;
    vertical-align: middle;
}
.header .logo span {
    font-size: 3em;
    font-weight: bold;
    margin-left: 5px;
    text-decoration: none;
    color: #ffffff;
}
.login-container {
    background-color: #61d8b0;
    padding: 20px;
    width: 35%;
    margin: 50px auto;
    border-radius: 10px;
    color: white;
}

h2 {
    text-align: center;
    color: #FFFFFF;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

form p {
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"] {
    padding: 15px;
    font-size: 1em;
    border: none;
    border-radius: 20px;
    margin-bottom: 10px;
}

.login-btn {
    padding: 12px;
    font-size: 1em;
    border: none;
    border-radius: 20px;
    background-color: #33CC33;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.register-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 0.9em;
}